{
    "env": {
        "es2020": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "plugins": ["@typescript-eslint", "no-only-tests", "prettier"],
    "rules": {
        "no-only-tests/no-only-tests": "error",
        "no-console": "error",
        "prettier/prettier": "error"
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parserOptions": {
                "project": "./tsconfig.json"
            },
            "extends": [
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking",
                "prettier",
                "prettier/@typescript-eslint"
            ],
            "rules": {
                "@typescript-eslint/explicit-function-return-type": "off",
                "@typescript-eslint/explicit-module-boundary-types": "off",
                "@typescript-eslint/interface-name-prefix": "off",
                "@typescript-eslint/no-floating-promises": "error",
                "@typescript-eslint/no-use-before-define": "off",
                "@typescript-eslint/no-unused-vars": "off",
                "comma-dangle": [
                    "error",
                    {
                        "arrays": "always-multiline",
                        "objects": "always-multiline",
                        "imports": "always-multiline",
                        "exports": "always-multiline",
                        "functions": "never"
                    }
                ]
            }
        }
    ]
}
